.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #01064d;
    color: white;
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .button:hover,
  .button:active {
    background-color: #000a8f;
  }