.backdrop_login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .login_div {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: -2rem;
  }
  
  .modal {
    position: fixed;
    top: 20vh;
    left: 5%;
    width: 90%;
    background-color: #ffffff;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }
  
  @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .buttons_right {
    align-items: flex-end;
  }
  
.buttons_validInput {
    display: flex;
    justify-content: flex-end;
}

.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #01064d;
    color: white;
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .button:hover,
  .button:active {
    background-color: #000a8f;
  }

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.form-actions {
  text-align: right;
}

.form-actions button {
  margin-left: 1rem;
}

.error_text {
  color: #aa1414;
  
}

.form_control {
  margin: 0.5rem auto;
    padding: 0.5rem;
    width: 90%;
    max-width: 40rem;
}

.form_control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form_control input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}
.form_input select,
.form_input input:focus {
  background-color: #b4b9ff;
  outline: none;
  border-color: #220090;
}

.form_input.invalid input {
  border-color: #aa1414;
  background:rgb(255, 213, 213);
}
.form_input.invalid select,
.form_input.invalid input:focus {
  border-color: #aa1414;
  background-color: white;
}

.form_label.invalid label {
  color: #aa1414;
}

